@using SSHomeProject.Helpers;
@using SSHomeCommon.Helpers;
@using SSHomeCommon.Constants;
@using SSHomeProject.Models;
@using SSHomeCommon.Enums;

@model CustomerTypeMasterViewModel

@{
    ViewBag.Title = "Edit Customer Type";
}

<fieldset>
    @using (Html.BeginForm(CommonConstant.ActionCustomerTypeEdit, CommonConstant.ControllerCustomerType, new { role = "form", enctype = "multipart/form-data", id = "frmEditCustomerType" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top:50px;">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.CustomerType)
                    @Html.TextBoxFor(model => model.CustomerType, new { @placeholder = "Enter Customer Type" })
                    @Html.ValidationMessageFor(model => model.CustomerType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />

        <div class="text-center form-group">
            <input type="submit" value="Update" />
        </div>

        @Html.HiddenFor(Model => Model.CustomerTypeId);
    }
</fieldset>
