@using SSHomeProject.Helpers;
@using SSHomeCommon.Helpers;
@using SSHomeCommon.Constants;
@using SSHomeProject.Models;
@using SSHomeCommon.Enums;

@model BrandMasterViewModel

@{
    ViewBag.Title = "Edit Brand";
}

<fieldset>
    @using (Html.BeginForm(CommonConstant.ActionBrandEdit, CommonConstant.ControllerBrand, new { role = "form", enctype = "multipart/form-data", id = "frmEditBrand" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top:50px;">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter Brnad Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />

        <div class="text-center form-group">
            <input type="submit" value="Update" />
        </div>

            @Html.HiddenFor(Model => Model.BrandId);
    }
</fieldset>

