@using SSHomeProject.Helpers;
@using SSHomeCommon.Helpers;
@using SSHomeCommon.Constants;
@using SSHomeProject.Models;
@using SSHomeCommon.Enums;

@model ReferralMasterViewModel

@{
    ViewBag.Title = "Create Referral";
}

<fieldset>
    @using (Html.BeginForm(CommonConstant.ActionReferralCreate, CommonConstant.ControllerReferral, new { role = "form", enctype = "multipart/form-data", id = "frmCreateReferral" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top:50px;">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Source)
                    @Html.TextBoxFor(model => model.Source, new { @placeholder = "Enter Source" })
                    @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="text-center form-group">
            <input type="submit" value="Create" />
        </div>
    }
</fieldset>

