@using SSHomeProject.Helpers;
@using SSHomeCommon.Helpers;
@using SSHomeCommon.Constants;
@using SSHomeProject.Models;
@using SSHomeCommon.Enums;

@model UnitMasterViewModel

@{
    ViewBag.Title = "Edit Unit";
}

<fieldset>
    @using (Html.BeginForm(CommonConstant.ActionUnitEdit, CommonConstant.ControllerUnit, new { role = "form", enctype = "multipart/form-data", id = "frmEditUnit" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top:50px;">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Unit)
                    @Html.TextBoxFor(model => model.Unit, new { @placeholder = "Enter Unit" })
                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />

        <div class="text-center form-group">
            <input type="submit" value="Update" />
        </div>

        @Html.HiddenFor(Model => Model.UnitId);
    }
</fieldset>

